/.idea/
/world/
/world_nether/
/world_the_end/
/.gitignore
/banned-ips.json
/banned-players.json
/commands.yml
/versions/1.19.2/
/cache/
/config/
/libraries/
/location/
/logs/
/usercache.json
/version_history.json
/wepif.yml
/whitelist.json
/help.yml
/ops.json
/paper-1.19.2-305.jar
/permissions.yml
/spigot.yml

/plugins/AimTrainer-1.0-SNAPSHOT.jar
/plugins/FastAsyncWorldEdit-Bukkit-2.4.10.jar
/plugins/ProtocolLib605.jar
/plugins/Weapon-API-1.0-SNAPSHOT.jar
/plugins/worldguard-bukkit-7.0.7-dist.jar
/plugins/FastAsyncWorldEdit/
/plugins/AimTrainer/gamestats/
/plugins/AimTrainer/playerdata/
/plugins/WorldGuard/cache/
/plugins/WorldGuard/worlds/
/plugins/ProtocolLib/
/plugins/bStats/
